<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Bienvenue sur votre tableau de bord</h1>
    <p>Gérez vos rendez-vous et suivez votre santé facilement</p>
  </div>


  <button (click)="navigateToAppointments()">Go to My Appointments</button>

  <div class="dashboard-card">
    <h3>Demander un nouveau rendez-vous</h3>
    <div class="step-container">
      <!-- Étape 1 : Choix de la spécialité -->
      <div *ngIf="!appointmentForm.value.specialization">
        <h2>Choisissez une spécialité :</h2>
        <div class="specializations">
          <button *ngFor="let spec of specializations" (click)="selectSpecialization(spec.value)">
            {{ spec.label }}
          </button>
        </div>
      </div>
    
      <!-- Étape 2 : Choix du médecin -->
      <div *ngIf="appointmentForm.value.specialization && !appointmentForm.value.doctor">
        <h2>Médecins disponibles pour {{ selectedSpecializationLabel }}</h2>
        <div class="doctors">
          <div *ngFor="let doctor of doctors" class="doctor-card" (click)="selectDoctor(doctor)">
            <img [src]="doctor.image" alt="{{ doctor.name }}" />
            <p>{{ doctor.name }}</p>
          </div>
        </div>
      </div>
    
      <!-- Étape 3 : Choix de la date et de l'heure -->
      <div *ngIf="appointmentForm.value.specialization && appointmentForm.value.doctor">
        <h2>Choisissez la date et l'heure :</h2>
        <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
          <label for="date">Date :</label>
          <input id="date" type="date" formControlName="date" />
          
          <label for="time">Heure :</label>
          <input id="time" type="time" formControlName="time" />
          
          <button type="submit" [disabled]="!appointmentForm.valid">Confirmer le rendez-vous</button>
        </form>
      </div>
    </div>
    
  </div>

</div>
