

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

  }
  
  /* Ensure all elements inherit box-sizing */
  *, *::before, *::after {
    box-sizing: inherit;
  }
  